<div class="login-body">
<div id="loginTexts">
  <br>
  <h1 id="loginWelcome">Welcome back!</h1>
</div>

<div id="about">
  <p>
  Make yourself a priority,<br/>
  with EZ-Fit it's that easy.<br/>
  </p>
</div>


<div id="info">
  <div class="titleWrapper">
    <span class="line"></span>
    <h1 class="title">
      <span>EZ-Fit</span>
  </div>
</div>



<div id="loginFormDiv">
  <form method="POST" id="loginForm">
    <div class="form-group">
      <br>
      <input
        type="email"
        name="username"
        placeholder="E-mail"
        id="emailLogin"
        required
        class="form-control"
        value="{{username}}"
      />
    </div>
    <div class="form-group">
      <br>
      <input
        type="password"
        name="password"
        placeholder="Password"
        id="passwordLogin"
        required
        class="form-control"
        value="{{password}}"
      />
    </div>

    <button id="loginBtn" class="btn btn-primary" type="submit">Sign In</button>

    {{#if error}}
      <p class="error">
        Invalid username and/or password
      </p>
    {{/if}}
  </form>
</div>
<div id="newUserLinkDiv">
  <br />
  <a href="/newUser" id="newUserLink">Are you new to EZ-Fit? Sign up here!</a>
</div>
</div>
</div>
